*/bin/
*/obj/
*/out/
*.user
*.suo

*.userosscache
*.sln.docstates
.idea/
.vscode/
*.sln.iml

.nuget/
*.nupkg
*.snupkg
*.nuspec
*.lock.json
packages/
project.lock.json
artifacts/
*.dotCover

*.deps.json
*.runtimeconfig.json

TestResults/
coverage/
*.trx
*.coverage
*.coveragexml
*.codecoverage

*.log
logs/
log/

.DS_Store
Thumbs.db

secrets.json
appsettings.Development.json
appsettings.Local.json